---
import "../styles/global.css";
const { title = "Astro Basics" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col justify-center items-center bg-zinc-900 py-4 px-2">
    <div
      class="w-350 h-screen flex flex-col items-center py-2 px-2 bg-zinc-800 justify-center border rounded-2xl border-white shadow-lg shadow-black/80"
    >
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Rubik", monospace;
  }

  @font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @keyframes caret {
    0%,
    49% {
      opacity: 1;
    }
    50%,
    100% {
      opacity: 0;
    }
  }
</style>
